USE [master]
GO
/****** Object:  Database [HotelManagement]    Script Date: 11/10/2025 9:49:54 AM ******/
CREATE DATABASE [HotelManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HotelManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HotelManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelManagement]
GO
/****** Object:  Table [dbo].[BookingRooms]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingRooms](
	[BookingRoomId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[Guests] [int] NOT NULL,
	[RatePerNight] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BookingRooms] PRIMARY KEY CLUSTERED 
(
	[BookingRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingServices]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[BookingServiceId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BookingServices] PRIMARY KEY CLUSTERED 
(
	[BookingServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](256) NULL,
	[IDNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Housekeeping]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Housekeeping](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[TaskDate] [date] NOT NULL,
	[StaffName] [nvarchar](150) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Notes] [nvarchar](300) NULL,
 CONSTRAINT [PK_Housekeeping] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[SubtotalRoom] [decimal](18, 2) NOT NULL,
	[SubtotalService] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Total]  AS ((([SubtotalRoom]+[SubtotalService])+[Tax])-[Discount]) PERSISTED,
	[IssuedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[PaidAt] [datetime2](0) NOT NULL,
	[Reference] [nvarchar](100) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](20) NOT NULL,
	[Floor] [int] NULL,
	[RoomTypeId] [int] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[PricePerNight] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Capacity] [int] NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_RoomTypes] PRIMARY KEY CLUSTERED 
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/10/2025 9:49:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookingRooms] ON 

INSERT [dbo].[BookingRooms] ([BookingRoomId], [BookingId], [RoomId], [Guests], [RatePerNight]) VALUES (1, 1, 1, 2, CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[BookingRooms] ([BookingRoomId], [BookingId], [RoomId], [Guests], [RatePerNight]) VALUES (2, 2, 3, 1, CAST(800000.00 AS Decimal(18, 2)))
INSERT [dbo].[BookingRooms] ([BookingRoomId], [BookingId], [RoomId], [Guests], [RatePerNight]) VALUES (3, 8, 2, 1, CAST(500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[BookingRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [CustomerId], [CheckInDate], [CheckOutDate], [Status], [Notes], [CreatedAt]) VALUES (1, 1, CAST(N'2025-11-01' AS Date), CAST(N'2025-11-05' AS Date), N'Reserved', N'Đặt qua website', CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
INSERT [dbo].[Bookings] ([BookingId], [CustomerId], [CheckInDate], [CheckOutDate], [Status], [Notes], [CreatedAt]) VALUES (2, 2, CAST(N'2025-11-10' AS Date), CAST(N'2025-11-12' AS Date), N'Reserved', NULL, CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
INSERT [dbo].[Bookings] ([BookingId], [CustomerId], [CheckInDate], [CheckOutDate], [Status], [Notes], [CreatedAt]) VALUES (8, 4, CAST(N'2025-11-01' AS Date), CAST(N'2025-11-02' AS Date), N'Reserved', N'di ngu', CAST(N'2025-11-01T20:06:35.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingServices] ON 

INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 2, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [Quantity], [UnitPrice]) VALUES (2, 1, 2, 4, CAST(100000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[BookingServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [IDNumber], [Address], [CreatedAt]) VALUES (1, N'Nhat Duy', N'0901234567', N'a@example.com', N'012345678', N'Hồ Chí Minh', CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [IDNumber], [Address], [CreatedAt]) VALUES (2, N'Gia Huy', N'0912345678', N'Huy@example.com', N'123456789', N'Hà Nội', CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [IDNumber], [Address], [CreatedAt]) VALUES (3, N'Minh Huy', N'0987654321', N'c@example.com', N'987654321', N'Đà Nẵng', CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Housekeeping] ON 

INSERT [dbo].[Housekeeping] ([TaskId], [RoomId], [TaskDate], [StaffName], [Status], [Notes]) VALUES (1, 1, CAST(N'2025-11-05' AS Date), N'Ngô Minh', N'Pending', N'Dọn phòng sau khách trả phòng')
SET IDENTITY_INSERT [dbo].[Housekeeping] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceId], [BookingId], [SubtotalRoom], [SubtotalService], [Tax], [Discount], [IssuedAt]) VALUES (1, 1, CAST(2000000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(250000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
INSERT [dbo].[Invoices] ([InvoiceId], [BookingId], [SubtotalRoom], [SubtotalService], [Tax], [Discount], [IssuedAt]) VALUES (2, 2, CAST(1600000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(160000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [Method], [PaidAt], [Reference]) VALUES (1, 1, CAST(1000000.00 AS Decimal(18, 2)), N'Cash', CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2), N'POS-0001')
INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [Method], [PaidAt], [Reference]) VALUES (2, 2, CAST(1760000.00 AS Decimal(18, 2)), N'Transfer', CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2), N'TXN-2025-0002')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [Floor], [RoomTypeId], [Status], [PricePerNight], [CreatedAt]) VALUES (1, N'101', 1, 1, N'Available', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [Floor], [RoomTypeId], [Status], [PricePerNight], [CreatedAt]) VALUES (2, N'102', 1, 1, N'Available', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
INSERT [dbo].[Rooms] ([RoomId], [RoomNumber], [Floor], [RoomTypeId], [Status], [PricePerNight], [CreatedAt]) VALUES (3, N'201', 2, 2, N'Available', CAST(800000.00 AS Decimal(18, 2)), CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeId], [Name], [Capacity], [BasePrice], [Description], [CreatedAt]) VALUES (1, N'Standard', 2, CAST(500000.00 AS Decimal(18, 2)), N'Phòng tiêu chuẩn', CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
INSERT [dbo].[RoomTypes] ([RoomTypeId], [Name], [Capacity], [BasePrice], [Description], [CreatedAt]) VALUES (2, N'Deluxe', 4, CAST(800000.00 AS Decimal(18, 2)), N'Phòng cao cấp', CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
INSERT [dbo].[RoomTypes] ([RoomTypeId], [Name], [Capacity], [BasePrice], [Description], [CreatedAt]) VALUES (3, N'Suite', 4, CAST(1200000.00 AS Decimal(18, 2)), N'Phòng hạng sang', CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [Name], [Price], [Unit]) VALUES (1, N'Giặt ủi', CAST(50000.00 AS Decimal(18, 2)), N'lần')
INSERT [dbo].[Services] ([ServiceId], [Name], [Price], [Unit]) VALUES (2, N'Ăn sáng', CAST(100000.00 AS Decimal(18, 2)), N'suất')
INSERT [dbo].[Services] ([ServiceId], [Name], [Price], [Unit]) VALUES (3, N'Đưa đón sân bay', CAST(300000.00 AS Decimal(18, 2)), N'lượt')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt], [CustomerId]) VALUES (1, N'admin', N'admin123', N'Admin', 1, CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt], [CustomerId]) VALUES (2, N'manager', N'manager123', N'Manager', 1, CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt], [CustomerId]) VALUES (3, N'staff1', N'staff123', N'Staff', 1, CAST(N'2025-10-31T21:11:39.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Rooms_RoomNumber]    Script Date: 11/10/2025 9:49:54 AM ******/
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [UQ_Rooms_RoomNumber] UNIQUE NONCLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RoomTypes_Name]    Script Date: 11/10/2025 9:49:54 AM ******/
ALTER TABLE [dbo].[RoomTypes] ADD  CONSTRAINT [UQ_RoomTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Services_Name]    Script Date: 11/10/2025 9:49:54 AM ******/
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [UQ_Services_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 11/10/2025 9:49:54 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingRooms] ADD  DEFAULT ((1)) FOR [Guests]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Reserved') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BookingServices] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Housekeeping] ADD  DEFAULT (CONVERT([date],getdate())) FOR [TaskDate]
GO
ALTER TABLE [dbo].[Housekeeping] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (sysdatetime()) FOR [IssuedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysdatetime()) FOR [PaidAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RoomTypes] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ('unit') FOR [Unit]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BookingRooms]  WITH CHECK ADD  CONSTRAINT [FK_BookingRooms_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingRooms] CHECK CONSTRAINT [FK_BookingRooms_Bookings]
GO
ALTER TABLE [dbo].[BookingRooms]  WITH CHECK ADD  CONSTRAINT [FK_BookingRooms_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[BookingRooms] CHECK CONSTRAINT [FK_BookingRooms_Rooms]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Customers]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_Bookings]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_Services]
GO
ALTER TABLE [dbo].[Housekeeping]  WITH CHECK ADD  CONSTRAINT [FK_Housekeeping_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Housekeeping] CHECK CONSTRAINT [FK_Housekeeping_Rooms]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Bookings]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_RoomTypes] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomTypes] ([RoomTypeId])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_RoomTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Customers]
GO
ALTER TABLE [dbo].[BookingRooms]  WITH CHECK ADD CHECK  (([Guests]>(0)))
GO
ALTER TABLE [dbo].[BookingRooms]  WITH CHECK ADD CHECK  (([RatePerNight]>=(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='CheckedOut' OR [Status]='CheckedIn' OR [Status]='Reserved'))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Dates] CHECK  (([CheckOutDate]>[CheckInDate]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Dates]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Housekeeping]  WITH CHECK ADD CHECK  (([Status]='Done' OR [Status]='InProgress' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([Discount]>=(0)))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([SubtotalRoom]>=(0)))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([SubtotalService]>=(0)))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([Tax]>=(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD CHECK  (([PricePerNight]>=(0)))
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD CHECK  (([Status]='Maintenance' OR [Status]='Cleaning' OR [Status]='Occupied' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[RoomTypes]  WITH CHECK ADD CHECK  (([BasePrice]>=(0)))
GO
ALTER TABLE [dbo].[RoomTypes]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
USE [master]
GO
